body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


/*class selector*/
.header {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    margin: 0;
}

.sub-header {
    display: flex;
    justify-content: center;
    background: #1F2937;
    align-items: center;
    gap: 50px;
    padding: 90px 0;
}

.left-content {
    display: flex;
    flex-direction: column;
    margin-left: 13%;
    width: 500px;
    gap: 5px;
    
}

.middle-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.square-info {
    display: flex;
    width: fit-content;
    gap: 50px;
}

.contain-duo {
    display: flex;
    flex-direction: column;
    width: 120px;
    gap: 50p;
    align-items: center;
}

.container {
    flex: none;
    border: 3px solid#4796f1e7;
    width: 120px;
    height: 120px;
    border-radius: 15px;
}

.quote-space {
    display: flex;
    background: #E5E7EB;
    justify-content: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 100px;
}


/*class, son of type selector*/
.header > ul {
    display: inherit;
    list-style-type: none;
    margin-right: 13%;
    align-items: center;
    gap: 20px;
}

.left-content > p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.left-content > button {
    width: fit-content;
    padding: 8px 30px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    border: none;
    background: #3882F6;
}

.sub-header > img {
    height: 60%;
    width: 350px;
    margin-right: 13%;
    flex-shrink: 0;
    flex-grow: 0;
}

.contain-duo > p {
    text-align: center;
    margin: 5px;
    font-size: 12px;
    color: #1f2937ce;
}

.quote-box > p {
    text-align: start;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}

.quote-box > h4 {
    text-align: end;
    font-size: 23px;
    margin: 0;
}


/*Type selector*/
a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}


h3 {
    text-align: center;
    margin-left: 13%;
    color: #F9FAF8;
    font-size: 24px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}