body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    margin: 0;
}

.header > ul {
    display: inherit;
    list-style-type: none;
    margin-right: 13%;
}

a {
    color: white;
    text-decoration: none;
}

h3 {
    margin-left: 13%;
}